# CODEOWNERS file - Defines code ownership for pull request reviews.
#
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
* @franklesniak @DanStutz

# Workflow files require maintainer review
.github/workflows/ @franklesniak @DanStutz

# Copilot instructions require maintainer review
.github/copilot-instructions.md @franklesniak @DanStutz
.github/instructions/ @franklesniak @DanStutz
